<a href="https://colab.research.google.com/github/Rodrigues33/Repositorio_T_Entrega_Python/blob/main/Nivel_1_19_Rodrigues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Olá Tudo, Tudo bem")

Olá Tudo, Tudo bem

In [ ]:
a = 2 
b = 3 
print (a + b)

5

In [ ]:
a = 2 
b = 3 
c = 5
print (a + b * c)

17

In [ ]:
salario = 750 #(1)
aumento = 15 #(2)
print (salario +(salario*aumento/100)) #(3)

862.5

In [ ]:
metros = float (input('metros?'))
cent = metros * 100;
print (cent), 'cm'

metros?20
2000.0

(None, 'cm')

In [ ]:
print('\t--------tabuada------')
numero = int(input('informe o numero para ver a tabuad: '))
print('\n tabuada de', numero, ':')
for i in range(1,11):
    print(numero, 'x',i, '=',(numero*i))

	--------tabuada------
informe o numero para ver a tabuad: 63

 tabuada de 63 :
63 x 1 = 63
63 x 2 = 126
63 x 3 = 189
63 x 4 = 252
63 x 5 = 315
63 x 6 = 378
63 x 7 = 441
63 x 8 = 504
63 x 9 = 567
63 x 10 = 630

In [ ]:
nota1 = float(input('primeira nota: '))
nota2 = float(input('segunda nota: '))

media = (nota1 + nota2)/2
print('media: ',media)

if media<7: 
    print('reprovado')
elif media<10:
    print('aprovado') 
else: 
    print('aprovado com distinção!')

primeira nota: 10
segunda nota: 20
media:  15.0
aprovado com distinção!

In [ ]:
print('\SALÁRIO ATUAL: R$700')
salario = 700 
aumento = 15 
#print (salario +(salario*aumento/100))

novo =salario + (salario*15/100)
print('Reajuste Salarial de 15% de R${:.2F} passa a receber R${:.2F}'. format(salario, novo))

novo =salario + (salario*10/100)
print('Reajuste Salarial de 10% de R${:.2F} passa a receber R${:.2F}'. format(salario, novo))

novo =salario + (salario*5/100)
print('Reajuste Salarial de 5% de R${:.2F} passa a receber R${:.2F}'. format(salario, novo))

\SALÁRIO ATUAL: R$700
Reajuste Salarial de 15% de R$700.00 passa a receber R$805.00
Reajuste Salarial de 10% de R$700.00 passa a receber R$770.00
Reajuste Salarial de 5% de R$700.00 passa a receber R$735.00

In [ ]:
numero1 = float(input('informe um numero: '))
numero2 = float(input('informe outro numero: '))
soma = (numero1 + numero2)
print('soma:', soma)

informe um numero: 5
informe outro numero: 8
soma: 13.0

In [ ]:
numero1 = float(input('informe um numero: '))
numero2 = float(input('informe outro numero: '))
soma = (numero1 + numero2)
print('soma:', soma)

mult = (numero1 * numero2)
print ('mult:', mult)

div = (numero1/numero2)
print ('div:', div)

sub = (numero1-numero2)
print ('sub:', sub)

informe um numero: 8
informe outro numero: 8
soma: 16.0
mult: 64.0
div: 1.0
sub: 0.0